name: Deploy Frontend Cloud Run

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Build & Push
        run: |
          gcloud builds submit \
            --tag us-east1-docker.pkg.dev/confirmamed/confirmamedmainfrontend/app \
            --substitutions=_VITE_API_URL=${{ secrets.VITE_API_URL }}

      - name: Deploy Cloud Run
        run: |
          gcloud run deploy confirmamed-frontend \
            --image us-east1-docker.pkg.dev/confirmamed/confirmamedmainfrontend/app \
            --region us-east1 \
            --platform managed \
            --allow-unauthenticated \
            --port 8080
